<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Empresa</title>
        {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
    </style>
</head>

<body>

<nav class="navbar navbar-light bg-light">
    <!-- Logo -->
    <a class="navbar-brand" href="../../">
        <img src="/static/img/recicle.png" width="30" height="30" class="d-inline-block align-top" alt="">
        reCicle
    </a>

</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div class="card  shadow p-3 mb-5 bg-white rounded">
                    <h2>Cadastro de Empresa</h2>
                    <form method="POST" class="post-form">{% csrf_token %}
                        <h5>Dados Pessoais</h5>
                        {% for c in form_empresa %}
                        <label>{{c.label}}</label>
                        {{ c }}
                        <br><br>
                        {% endfor %}
                        <!-- fim de um form inicio de outro -->
                        <h5>Dados de Localização</h5>
                        {% for i in enderecoform %}
                        <label>{{i.label}}</label>
                        {{ i }}
                        <br><br>
                        {% endfor %}

                        <br><br>
                        <button type="submit" class="btn btn-success">cadastro</button>
                        <br><br>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
<br><br><br>
</body>
</html>