<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
        {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
    </style>
</head>
<body>

    <!-- <nav class="navbar navbar-expand-lg " style="background-color: #00994c; color: #E0E0E0;"> -->
    <nav class="navbar navbar-light bg-light">
        <!-- Logo -->
        <a class="navbar-brand" href="">
            <img src="/static/img/recicle.png" width="30" height="30" class="d-inline-block align-top" alt="">
            reCicle
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link " href="/cadastro">Cadastre-se</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Entrar</a>
            </li>
        </ul>
    </nav>
    <br>

<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="card  shadow p-3 mb-5 bg-white rounded">
                    <h2>Login no Sistema</h2>
                    <form method="POST" action='submit'>{% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="password" name='password' placeholder="Password">
                    </div>
                    {% for message in messages %}
                      <div class="alert alert-danger">
                          <strong>ERROR!</strong> {{message}}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>

                </div>
            </div>
        </div>
    </div>

</div>
<br><br><br>
</body>
</html>