<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
            {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <style>
        </style>
    </head>
    <body>
        
        <nav class="navbar navbar-light bg-light">
            <!-- Logo -->
            <a class="navbar-brand" href="">
                <img src="/static/img/recicle.png" width="30" height="30" class="d-inline-block align-top" alt="">
                reCicle
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link " >{{nome}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout/">sair</a>
                </li>
            </ul>
        </nav>
    <br>
        
        <div class="container">
            <form method="POST" class="post-form">{% csrf_token %}
                <input type="text"    name='filtro' placeholder='insira sua pesquisa'>
                <button type="submit" class="btn btn-info" >
                    pesquisa
                </button>    
            </form>
        </div>
    <br>    
        <div class="container">
            {% for coleta in coletas %}
            <div class="row">
                <div class="col-8">
                    {{coleta}}
                </div>
                <div class=".col-sm-4">        
                    <button class="btn btn-info">
                        pesagem
                    </button>
                </div>
            </div>
            
    <br>            
            {% endfor %}
                
        </div>  

    </body>
</html>